[Unit]
Description=West-Life VirtualFolder MetadataService

[Service]
Type=simple
EnvironmentFile=/etc/westlife/repository.key
Environment=REP_LOCATION=/cvmfs/west-life.egi.eu/software/repository/latest/frontend
Environment=VF_STORAGE_DIR=/home/vagrant/work
Environment=VF_ALLOW_FILESYSTEM=true
Environment=VF_ALLOW_MODULES=true
Environment=VF_ALLOW_JUPYTER=true
PIDFile=/var/run/westlife-repository.pid
User=vagrant
ExecStart=/bin/mvn jetty:run -Dorg.eclipse.jetty.annotations.maxWait=120 -Dtargetdir=/tmp/westliferepository/target
WorkingDirectory=/cvmfs/west-life.egi.eu/software/repository/latest/backend
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=westlife-repository

[Install]
WantedBy=multi-user.target
