<template>
  <require from="codemirror/lib/codemirror.css"></require>
  <require from="codemirror/theme/eclipse.css"></require>
  <div show.bind="!isimage" class="w3-card-2 w3-pale-blue w3-code-2">
    Preview file (first 4kB):<i class="w3-tiny">${filename}</i> <span title="Click to view data as table" click.trigger="table()"><itable></itable></span>
   <div show.bind="! showtable">
    <textarea ref="cmTextarea">

    </textarea>
   </div>

    <div show.bind="showtable" ref="filetable">

    </div>

  </div>
  <div if.bind="isimage" class="w3-card-2 w3-code-2">
    <img src.bind="imageurl" class="w3-image"/>
  </div>
</template>
