<template>
<table class="w3-table-all">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>summary</th>
  </tr>
  <tr show.bind="showProposals" class="au-animate" repeat.for="project of projects">
    <td>${project.id}</td>
    <td><iproject></iproject><a class="w3-hover-green" route-href="route: projectdetail; params.bind: {projectid:project.id}">${project.projectName}</a>
    </td>
    <td><a class="w3-hover-green" route-href="route: projectdetail; params.bind: {projectid:project.id}">${project.summary} (${project.datasets})</a></td>
  </tr>
  <tr show.bind="! showProposals" title="click to show all projects" class="w3-hover-green">
    <td>${selectedProject.id}</td>
    <td ><iproject></iproject><a class="w3-hover-green" route-href="route: dashboard">
      ${selectedProject.projectName}
    </a>
    </td>
    <td>${selectedProject.summary}</td>
  </tr>
</table>
</template>
