<template>
  <require from="./userinfo"></require>
  <require from="./staffuserinfo"></require>
  <require from="./instructmenu.html"></require>
  <div class="vf-white">
    <a href="/">
      <picture>

        <img class="logo" style="height:60px" src="/img/westlife-logo.png" alt="brand logo">
      </picture>

    </a>
    <nav class="vf-white">

      <ul>
        <li class="nav-item"><a href="/">Repository</a></li>
        <userinfo></userinfo>
        <instructmenu></instructmenu>
      </ul>

    </nav>
    <div id="id01" class="vf-modal">
      <div class="vf-modal-content vf-card-2">
        <header class="vf-sand">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
          <h3>West-Life Repository</h3>
        </header>
        <div class="vf-white">
          <table>
            <tr>
              <td style="text-align: right">Version:</td>
              <td>17.09</td>
            </tr>
            <tr>
              <td style="text-align: right">Sources:</td>
              <td><a href="https://github.com/h2020-westlife-eu">github.com/h2020-westlife-eu</a></td>
            </tr>
            <tr>
              <td style="text-align: right">Authors:</td>
              <td><a href="https://west-life.eu">West-Life consortium</a></td>
            </tr>
            <tr>
              <td style="text-align: right">Ackn.:</td>
              <td>Frontend: Aurelia framework, W3.CSS, Icons made by Freepik from www.flaticon.com, Backend: Java Spring
                Frameworker, Docker, Hibernate
              </td>
            </tr>
          </table>
        </div>
        <footer class="vf-sand">
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License"
                                                                                   style="border-width:0"
                                                                                   src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a>This
          work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons
          Attribution 4.0 International License</a>.
        </footer>
      </div>
    </div>

  </div>
</template>
